@import '@app/scss/variables.scss';
.navItem {
  position: relative;
  width: 100%;
  height: 5rem;
  border-radius: 8px;
  background: #1f1d2b;
}
.active {
  position: relative;
  background: #252836;
  border-radius: 8px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin: 12px 24px 13px 11px;
  border-radius: 8px;
  color: $primary-color;
  font-size: 30px;
  cursor: pointer;
}
.active .box {
  background-color: $primary-color;
  color: white;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}
.active::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: #1f1d2b;
  transform: translateY(-100%);
  box-shadow: 10px 10px 0 0 #252836;
}
.active::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #1f1d2b;
  transform: translateY(100%);
  box-shadow: 10px -10px 0 0 #252836;
}

.triangle {
  position: absolute;
  right: 100%;
  bottom: 1rem;
  border-top: 7px solid transparent;
  border-right: 14px solid $dark-second-color;
  border-bottom: 7px solid transparent;
}
