@keyframes transformX {
  0% {
    left: 120%;
  }
  100% {
    left: 100%;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border-top {
  border-top: 1px solid #252836;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  background-color: #ea7c69;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ea7c69;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 4px;
}
.border-dark-1f {
  border: 1px solid #1f1d2b;
}
